{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "modules": false,
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "Firefox ESR"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-external-helpers"
  ]
}